---

import { getDatabase, getBlock, getPages } from "../../notion.js";
import { NOTION_DATABASE_ID } from "astro:env/client"

const databaseId = NOTION_DATABASE_ID;
const rawPages = await getDatabase(databaseId);

---
<h1>My db</h1>
<ul>
  {
    rawPages !== undefined ? rawPages.map((d: any) => (
      <li><a href={d.properties.slug.rich_text[0].plain_text}>{d.properties.Idea.title[0].plain_text}</a></li>
    )) :
    null
    
  }
</ul>
<pre>{JSON.stringify(rawPages, null, 2)}</pre>

